:root {
    --md-primary-fg-color:#333a45;
    --md-typeset-a-color: #00a3c6;
    --md-accent-fg-color: #00b7e0;
}
.md-typeset a {
    color: #00a3c6;
}

.md-nav__item .md-nav__link--active {
    color: #00a3c6;
}
